.container {
  width: 60%;
}

.buttons {
  margin-top: 4rem;
  margin-bottom: 4rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  flex: 0.5;

  height: var(--max-height);
  border-radius: 0.5rem;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btnContinue {
  background-color: var(--primary-color);
}

.btnContinue:disabled {
  color: white;
  background: #e0e0e0;
}

.backBtn {
  color: var(--primary-color);
  background: #e0f2f6;
}

.backBtn:hover,
.backBtn:focus {
  border: 1px solid var(--primary-color);
}

/* Step 3 */
.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step3Btn {
  margin-top: 1.8rem;
  height: var(--max-height);
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  background-color: var(--primary-color);
  width: 80%;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
  }
  .buttons button {
    height: var(--m-height) !important;
  }
  .step3Btn {
    width: 90%;
    height: var(--m-height) !important;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .buttons {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .buttons button {
    height: var(--min-height) !important;
    width: 100%;
    flex: auto;
  }
  .step3Btn {
    width: 100%;
    height: var(--min-height) !important;
  }
}
