.input {
  height: var(--max-height);
  width: 100%;
  border-radius: 0.5rem;
}

.info {
  font-family: Source Sans Pro;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}

@media (max-width: 700px) {
  .input {
    height: var(--m-height);
  }
}

@media (max-width: 576px) {
  .input {
    height: var(--min-height);
  }
}
