.container {
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.h1 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.75rem;
}

.h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
}

@media (max-width: 576px) {
  .container {
    margin-bottom: 2rem;
  }
  .h1 {
    font-size: 1.5rem;
  }
  .h3 {
    font-size: 1rem;
  }
}
