@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --max-height: 3.5rem;
  --m-height: 3rem;
  --min-height: 2.6rem;

  --primary-color: #049dbf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
img,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 60rem;
  padding: 4rem 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-steps-icon-dot {
  background: var(--primary-color) !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background: var(--primary-color) !important;
}

.ant-steps-item-title {
  color: var(--primary-color) !important;
}
