.container {
  width: 70%;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .container {
    width: auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100vw;
    padding: 0 2rem;
  }
}
